# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# EAS Build
.eas/
eas-build-pre-install.sh
eas-build-post-install.sh

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.ipa
*.apk
*.aab

# iOS
ios/
Pods/
DerivedData/
build_output/
*.xcworkspace
*.xcodeproj

# Android
android/
.gradle/
build/
*.iml

# Metro
.metro-health-check*

# debug / logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
logs/
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store
*.pem
*.icloud

# typescript
*.tsbuildinfo

# Editors
.idea/
.vscode/
*.swp
*.swo

# System
thumbs.db
ehthumbs.db
Desktop.ini

# Testing
coverage/

# Misc
.npm-cache
.eslintcache

# SSH Keys
fuubarbaz_github
fuubarbaz_github.pub
